[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf2 = "*"
streamlit = "*"
huggingface-hub = "*"
sentence-transformers = "*"
faiss-cpu = "*"

[requires]
python_version = "3.9"
